@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Poppins:wght@100;300;500;600&display=swap');

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    position: relative;
    --gray: #282828;
    --black: #0E0E0E;
    --padding-header: 2.5vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 1100px;
}

/* header */

header{
    background-color: rgba(0, 0, 0, 0.70);
    padding: 2.5vh var(--padding-header) 1.25vh var(--padding-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1vh 3vh 3vh rgba(0, 0, 0, 0.70);
}

.absHeader{
    position: absolute;
    width: calc(100% - 2 * var(--padding-header));
    z-index: 1;
}

.imgHeader{
    height: 10vh;
}

header>div>a{
    margin: 0 2em;
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
}

/* footer */

footer{
    display: flex;
    margin-top: auto;
    background-color: var(--gray);
    padding: 2em 0 .5em 0;
}

footer>div{
    margin: auto;
    width: 100%;
}

.flexFooter{
    display: flex;
    color: white;
    justify-content: space-between;
    margin-bottom: 1em;
}

.flexFooter>div{
    display: flex;
    flex-direction: column;
}

.flexFooter>div>a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    margin: .25em 0;
}

.logoFooter{
    height: 10em;
}

footer>div>p{
    text-align: center;
    margin: 0;
    color: white;
    font-weight: 100;
    font-size: 1.25em;
}


/* Home */

.homeImg{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.homeImg>img{
    height: 100%;
    min-width: 100%;
}

.homeTextImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    color: white;
    text-align: center;
}

.homeTextImg>h1{
    font-size: 16vh;
    font-family: 'Jomhuria', serif;
    font-weight: inherit;
    margin: 0;
}

.homeTextImg>h2{
    font-size: 1.9vh;
    font-weight: 500;
}

.homeTextImg>img{
    width: 70%;
    margin: 3vh 0;
}

.homeTextImg>h3{
    font-weight: 500;
    font-size: 1.9vh;
    line-height: 3vh;
}

.homeImg>a{
    font-size: 12vh;
    position: absolute;
    bottom: 1%;
    left: 50%;
    border: 5px solid white;
    padding: .15em;
    border-radius: 1em;
    animation: identifier 2s infinite ease-in-out;
    margin: 0;
    color: white;
    align-items: center;
    display: flex;
    text-decoration: none;
}

@keyframes identifier {
    0% {
        transform: translate(-50%, 0);
    }
    50%{
        transform: translate(-50%, -.25em);
    }
    100% {
        transform: translate(-50%, 0);
    }
}


.homeContent{
    background-color: var(--black);
}