@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Poppins:wght@100;300;500;600&display=swap');

html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    /* Margin bottom by footer height */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    position: relative;
    --gray: #282828;
    --black: #0E0E0E;
    --gold: #E2B356;
    --white: #e6e6e6;
    --padding-header: 2.5vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

/* header */

header{
    background-color: rgba(0, 0, 0, 0.60);
    padding: 2.5vh var(--padding-header) 1.25vh var(--padding-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1vh 3vh 3vh rgba(0, 0, 0, 0.60);
    position: absolute;
    width: calc(100% - 2 * var(--padding-header));
    z-index: 2;
}

.imgHeader{
    height: 10vh;
}

header>div{
    display: flex;
    width: calc(50% - 4em);
}

header>div.left>a:last-child{
    margin-right: auto;
}

header>div.right>a:first-child{
    margin-left: auto;
}

header>div>a{
    margin: 0 2em;
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
}

/* footer */

footer{
    display: flex;
    margin-top: auto;
    background-color: var(--gray);
    padding: 2em 0 .5em 0;
    position: relative;
}

footer:before{
    content: "";
    position: absolute;
    width: 55vh;
    background-image: url(/images/ornament1.svg);
    background-size: cover;
    height: 5vh;
    background-position: center;
    left: 50%;
    transform: translateX(-50%);
    top: -2.4vh;
}

footer>div{
    margin: auto;
    width: 100%;
}

.flexFooter{
    display: flex;
    color: white;
    justify-content: space-between;
    margin-bottom: 1em;
}

.flexFooter>div{
    display: flex;
    flex-direction: column;
}

.flexFooter>div>a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    margin: .25em 0;
}

.logoFooter{
    height: 10em;
}

footer>div>p{
    text-align: center;
    margin: 0;
    color: white;
    font-weight: 100;
    font-size: 1.25em;
}


/* Home */

.homeImg{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.homeImg>img{
    height: 100%;
    min-width: 100%;
}

.homeTextImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    color: white;
    text-align: center;
}

.homeTextImg>h1{
    font-size: 16vh;
    font-family: 'Jomhuria', serif;
    font-weight: inherit;
    margin: 0;
}

.homeTextImg>h2{
    font-size: 1.9vh;
    font-weight: 500;
}

.homeTextImg>img{
    width: 70%;
    margin: 3vh 0;
}

.homeTextImg>h3{
    font-weight: 500;
    font-size: 1.9vh;
    line-height: 3vh;
}

.homeImg>a{
    font-size: 10vh;
    position: absolute;
    bottom: 4%;
    left: 50%;
    border: .6vh solid white;
    padding: .15em;
    border-radius: 1em;
    animation: identifier 2s infinite ease-in-out;
    margin: 0;
    color: white;
    align-items: center;
    display: flex;
    text-decoration: none;
}

@keyframes identifier {
    0% {
        transform: translate(-50%, 0);
    }
    50%{
        transform: translate(-50%, -.25em);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

.discoverStory{
    border-bottom: .4vh solid white;
}


#homeContent{
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    color: white;
    margin: auto;
}

.titleSection{
    font-family: Matura MT Script Capitals;
    font-weight: inherit;
    position: relative;
    margin: 8vh 0;
    font-size: 3vh;
    text-align: center;
}

.titleSection:before, .titleSection:after{
    content: "";
    position: absolute;
    width: 40vh;
    background-image: url(/images/ornament2.svg);
    background-size: cover;
    height: 100%;
    left: 0;
    background-position: center;
    left: 50%;
}

.titleSection:before{
    top: -135%;
    transform: translateX(-50%);
}

.titleSection:after{
    bottom: -120%;
    rotate: 180deg;
    transform: translateX(50%);
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 5vh;
    grid-auto-flow: row;
    margin-bottom: 10vh;
    color: white;
}

.card{
    background-color: var(--gray);
    min-height: 3px;
    position: relative;
    padding: 3vh;
    margin: 2vh;
}

.card:before, .card:after{
    content: "";
    border: .25vh solid var(--gold);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.card:before{
    width: calc(100% - 2vh);
    height: calc(100% - 2vh);
}

.card:after{
    width: calc(100% + 2vh);
    height: calc(100% + 2vh);
}

.titleCard{
    display: flex;
    align-items: center;
    padding: 0 0 2vh 0;
    border-bottom: .2vh solid white;
}

.titleCard>img{
    width: 8vh;
    height: 100%;
    border-radius: 10em;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.titleCard>.headCard{
    margin-left: 2vh;
}

.titleCard>.headCard>*{
    margin: 0;
}

.titleCard>.headCard>a{
    font-weight: 300;
    color: rgb(206, 206, 206);
    margin: 1vh 0 0 0;
}

.contentCard{
    padding: 2vh 1vh;
    border-bottom: .2vh solid white;
}

.contentCard>p{
    text-align: left;
    margin: 0;
    font-weight: 300;
    font-size: 2vh;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.buttonCard{
    padding: 2vh 1vh 0 1vh;
}

.buttonCard>a, .viewAllHome, .createHome, .showHistory>.start, .showHistory .list {
    display: flex;
    text-align: center;
    width: fit-content;
    margin: auto;
    font-size: 3vh;
    text-decoration: none;
    color: white;
    border: .3vh solid white;
    padding: 1vh 3vh;
}

.buttonCard>a:hover, .viewAllHome:hover, .createHome:hover, .showHistory>.start:hover, .showHistory .list:hover{
    background-color: white;
    color: black;
}
.createStory>p{
    font-size: 1.25em;
    text-align: center;
    width: 90%;
    margin: 0 auto 5vh auto;
}

.viewAllHome, .createHome{
    margin-bottom: 10vh;
}

.loader{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
}

.loader>div{
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader>div>img{
    animation: loader 5s infinite ease-in-out;
}

@keyframes loader {
    0%{
        rotate: 0deg;
    }
    60%{
        rotate: 370deg;
    }
    80%{
        rotate: 350deg;
    }
    100%{
        rotate: 360deg;
    }
}

/* Login */

.login, .createHistory>.card {
    max-width: fit-content;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login>form>h3, .createHistory>.card>form>h3 {
    font-family: 'Jomhuria', serif;
    color: white;
    text-align: center;
    font-size: 10vh;
    margin: 1rem;
    font-weight: inherit;
}

.logimg {
    height: 100vh;
    overflow: hidden;
    position: relative;
    color: white;
}

.logimg>img{
    height: 100%;
    filter: blur(5px);
}

.logimg>.login>form{
    display: flex;
    flex-direction: column;
}

.login input, .createHistory>.card>form>div>input,.createHistory>.card>form>div>textarea, .createHistory>.card>form>div>button{
    background-color: #E2B356;
    border: none;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.3rem;
    align-items: center;
    font-size: 3vh;
    margin: 1vh 0;
}

.remember, .bottomLog{
    display: flex;
    align-items: center;
}

.remember>p, .bottomLog>p{
    margin-right: 1vh;
}

.bottomLog>a{
    color: white;
}

.login input[type="submit"] {
    cursor: pointer;
    margin-top: 1em;
}

.login input:focus{
    outline: none;
}

/* Tous les albums */

.filtre {
    margin: 2rem 0;
    position: relative;
}

.filtre select {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 20rem;
    padding: 1rem 4rem 1rem 1rem;
    color: #0E0E0E;
    background-color: #E2B356;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
}

.filtre select:focus {
    border-radius: 10px 0 0 0;
}

.filtre select option {
    border-radius: 0 0 10px 10px;
}

.filtre input[type="submit"] {
    appearance: none;
    border: none;
    font: inherit;
    background-color: #dea83a;
    padding: 1rem;
    cursor: pointer;
    color: #0E0E0E;
    border-radius: 0 10px 10px 0;
    position: absolute;
}

.topImg{
    height: 70vh;
    overflow: hidden;
    position: relative;
}

.topImg>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    height: 110%;
}

.topImg>div{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.topImg>div>h1{
    font-family: 'Jomhuria', serif;
    font-weight: inherit;
    font-size: 16vh;
    margin: 0;
    color: white;
    text-align: center;
}

.topImg>div>img{
    width: 80%;
    margin: auto;
    display: flex;
}

.topImg>div>img:last-child{
    rotate: 180deg;
}

.bgBlack{
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    color: white;
}

.quatre{
    font-family: 'Jomhuria', serif;
    background-color: #0E0E0E;
    height: 100vh;
    color: white;
    font-weight: inherit;
}
.quatre h1{
    font-weight: inherit;
}
.quatre h6{
    font-weight: inherit;
}
.quatre img{
    width: 80px;
}
.quatrecontainer{
    position: relative;
}
.arrow{
    position: absolute;
    left: 0;
    top: 0;
}
.erreur{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 6%;
    font-size: 1rem;
}
.imgerreur{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imgerreur img{
    width: 120px;
}

/* SHOW HISTORY */

.showHistory>.desc{
    text-align: center;
}

.genre{
    text-align: center;
    margin-bottom: 3em;
}

.showHistory>.desc>h2, .showHistory>.genre>h2{
    font-size: 5vh;
    text-align: center;
    font-family: Matura MT Script Capitals;
    font-weight: inherit;
}

.showHistory>.desc>p, .showHistory>.genre>a{
    font-size: 2vh;
    line-height: 3vh;
    text-align: center;
    margin-bottom: .5em;
    text-decoration: none;
}

.showHistory>.desc>a{
    text-decoration: none;
    color: var(--gold);
    font-size: 2vh;
}

.showHistory>.desc>a:after{
    content: "";
    display: flex;
    width: 70%;
    height: .3vh;
    background-color: white;
    margin: 5vh auto;
}

.showHistory>.genre>a{
    color: var(--gold);
    font-size: 5vh;
}

.showHistory>.img>img{
    margin: 0 auto;
    display: flex;
    width: auto;
    max-height: 40vh;
}

.commentForm{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 5vh auto 0 auto;
}

.commentForm>textarea{
    width: 70vh;
    height: 5vh;
    margin-bottom: 2vh;
    padding: 2vh;
    border: none;
}

.commentForm>textarea:focus{
    outline: none;
}

.commentForm>input{
    border: none;
    padding: 1em;
    width: fit-content;
    display: flex;
    margin: auto;
    cursor: pointer;
    background-color: white;
}

.showHistory>.start{
    margin: 3vh auto;
}

.showHistory .list{
    font-size: 2vh;
}

.showHistory .stats{
    text-align: center;
    margin: 4vh;
}

.showHistory .stats>p>span{
    color: gold;
    font-weight: bold;
    font-size: 2.5vh;
}

.comments{
    margin-top: 3vh;
}

.comments>div{
    background-color: var(--gray);
    padding: 1vh 2vh;
    margin: 2vh 0;
    border-radius: 2vh;
    font-weight: 500;
}

.comments>div>p{
    margin: 1vh 0;
}

.comments>div>p:first-child{
    font-weight: 300;
}

/* equipe */

.equipe{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.h3mem{
    font-size: 7vh;
}

.cards2{
    display: flex;
    flex-direction: column;
    gap: 10vh;
    margin-bottom: 10vh;
    color: white;
}

.equipe>ul{
    width: 100%;
}

.card2{
    background-color: var(--gray);
    min-height: 3px;
    position: relative;
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin: 2vh;
}

.card2i{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-around;
    width: 100%;
}

.card2:before, .card2:after{
    content: "";
    border: .25vh solid var(--gold);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.card2:before{
    width: calc(100% - 2vh);
    height: calc(100% - 2vh);
}

.card2:after{
    width: calc(100% + 2vh);
    height: calc(100% + 2vh);
}

.h3name{
    font-size: 4vh;
}

.leli{
    font-size: 2vh;
}

/* Un chapitre */

.titreChap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titreChap h1 {
    font-family: 'Jomhuria', serif;
    font-weight: inherit;
    font-size: 16vh;
    margin: 0;
    color: #0E0E0E;
    text-align: center;
}
/* CREATE HISTORY */

.createHistory{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 12rem;
}

.createHistory>.card{
    color: white;
    position: relative;
    transform: inherit;
    height: 100%;
    top: inherit;
    left: inherit;
}

.createHistory>.card>form>div>button{
    width: 100%;
}

.card>form label{
    width: 30%;
    display: flex;
    font-size: 1.5em;
}

.card>form>div{
    display: flex;
    align-items: center;
}

.card>form>div>select{
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 20rem;
    padding: 1rem 4rem 1rem 1rem;
    color: #0E0E0E;
    background-color: #E2B356;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2.5vh;
}

.card>form textarea{
    resize: vertical;
}

.card>form input, .card>form textarea, .card>form>div>select{
    width: 100%;
}

.titreChap img {
    width: 50%;
}

.chapitre {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chapitre img {
    max-height: 30em;
}

.questions h3 {
    color: white;
}

.questions a {
    color: white;
    text-decoration: none;
}

.ariane a {
    color: #0E0E0E;
    text-decoration: none;
}
.cards3{
    display: flex;
    flex-direction: column;
    gap: 10vh;
    margin-bottom: 10vh;
    color: white;
    align-items: center;
}

.card3{
    background-color: var(--gray);
    min-height: 3px;
    position: relative;
    width: 50%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* .card2i{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-around;
    width: 100%;
} */

.card3:before, .card3:after{
    content: "";
    border: .25vh solid var(--gold);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.card3:before{
    width: calc(100% - 2vh);
    height: calc(100% - 2vh);
}

.card3:after{
    width: calc(100% + 2vh);
    height: calc(100% + 2vh);
}

/* CREATE CHAPITRE */

.createChapitre>div>h3{
    text-align: center;
    font-size: 6em;
    font-family: 'Jomhuria', serif;
    font-weight: inherit;
    margin: .25em;
}

.createChapitre table{
    border-collapse: collapse;
    margin: 0 auto;
}

.createChapitre th, .createChapitre td{
    border: 1px solid black;
    font-size: 1.75em;
    text-align: center;
    padding: .5em .75em;
}

.createChapitre>.card{
    color: white;
}

.createChapitre>.card input,  .createChapitre>.card textarea{
    background-color: #E2B356;
    border: none;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.3rem;
    align-items: center;
    font-size: 3vh;
    margin: 1vh 0;
}

.createChapitre input[type="submit"]{
    margin-top: 1em;
}

.createChapitre>.card>form>div{
    display: flex;
}



.firstChap{
    align-items: center;
}

.card>form>.firstChap>input{
    margin-left: .5em;
}

.card>form>.firstChap>label, .card>form>.firstChap>input{
    width: fit-content;
}

.createChapitre>.card>form>div>select{
    margin: 1vh 0;
}