@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Poppins:wght@100;300;500;600&display=swap');

html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    /* Margin bottom by footer height */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    position: relative;
    --gray: #282828;
    --black: #0E0E0E;
    --gold: #E2B356;
    --padding-header: 2.5vh;
    overflow-y: hidden;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

/* header */

header{
    background-color: rgba(0, 0, 0, 0.60);
    padding: 2.5vh var(--padding-header) 1.25vh var(--padding-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1vh 3vh 3vh rgba(0, 0, 0, 0.60);
    position: absolute;
    width: calc(100% - 2 * var(--padding-header));
    z-index: 2;
}

.imgHeader{
    height: 10vh;
}

header>div{
    display: flex;
    width: calc(50% - 4em);
}

header>div.left>a:last-child{
    margin-right: auto;
}

header>div.right>a:first-child{
    margin-left: auto;
}

header>div>a{
    margin: 0 2em;
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
}

/* footer */

footer{
    display: flex;
    margin-top: auto;
    background-color: var(--gray);
    padding: 2em 0 .5em 0;
    position: relative;
}

footer:before{
    content: "";
    position: absolute;
    width: 55vh;
    background-image: url(/images/ornament1.svg);
    background-size: cover;
    height: 5vh;
    background-position: center;
    left: 50%;
    transform: translateX(-50%);
    top: -2.4vh;
}

footer>div{
    margin: auto;
    width: 100%;
}

.flexFooter{
    display: flex;
    color: white;
    justify-content: space-between;
    margin-bottom: 1em;
}

.flexFooter>div{
    display: flex;
    flex-direction: column;
}

.flexFooter>div>a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    margin: .25em 0;
}

.logoFooter{
    height: 10em;
}

footer>div>p{
    text-align: center;
    margin: 0;
    color: white;
    font-weight: 100;
    font-size: 1.25em;
}


/* Home */

.homeImg{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.homeImg>img{
    height: 100%;
    min-width: 100%;
}

.homeTextImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    color: white;
    text-align: center;
}

.homeTextImg>h1{
    font-size: 16vh;
    font-family: 'Jomhuria', serif;
    font-weight: inherit;
    margin: 0;
}

.homeTextImg>h2{
    font-size: 1.9vh;
    font-weight: 500;
}

.homeTextImg>img{
    width: 70%;
    margin: 3vh 0;
}

.homeTextImg>h3{
    font-weight: 500;
    font-size: 1.9vh;
    line-height: 3vh;
}

.homeImg>a{
    font-size: 10vh;
    position: absolute;
    bottom: 4%;
    left: 50%;
    border: .6vh solid white;
    padding: .15em;
    border-radius: 1em;
    animation: identifier 2s infinite ease-in-out;
    margin: 0;
    color: white;
    align-items: center;
    display: flex;
    text-decoration: none;
}

@keyframes identifier {
    0% {
        transform: translate(-50%, 0);
    }
    50%{
        transform: translate(-50%, -.25em);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

.discoverStory{
    border-bottom: .4vh solid white;
}


#homeContent{
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    color: white;
    margin: auto;
}

.titleSection{
    font-family: Matura MT Script Capitals;
    font-weight: inherit;
    position: relative;
    margin: 8vh 0;
    font-size: 3vh;
    text-align: center;
}

.titleSection:before, .titleSection:after{
    content: "";
    position: absolute;
    width: 40vh;
    background-image: url(/images/ornament2.svg);
    background-size: cover;
    height: 100%;
    left: 0;
    background-position: center;
    left: 50%;
}

.titleSection:before{
    top: -135%;
    transform: translateX(-50%);
}

.titleSection:after{
    bottom: -120%;
    rotate: 180deg;
    transform: translateX(50%);
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 5vh;
    grid-auto-flow: row;
    margin-bottom: 10vh;
    color: white;
}

.card{
    background-color: var(--gray);
    min-height: 3px;
    position: relative;
    padding: 3vh;
    margin: 2vh;
}

.card:before, .card:after{
    content: "";
    border: .25vh solid var(--gold);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.card:before{
    width: calc(100% - 2vh);
    height: calc(100% - 2vh);
}

.card:after{
    width: calc(100% + 2vh);
    height: calc(100% + 2vh);
}

.titleCard{
    display: flex;
    align-items: center;
    padding: 0 0 2vh 0;
    border-bottom: .2vh solid white;
}

.titleCard>img{
    width: 8vh;
    height: 100%;
    border-radius: 10em;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.titleCard>.headCard{
    margin-left: 2vh;
}

.titleCard>.headCard>*{
    margin: 0;
}

.titleCard>.headCard>a{
    font-weight: 300;
    color: rgb(206, 206, 206);
    margin: 1vh 0 0 0;
}

.contentCard{
    padding: 2vh 1vh;
    border-bottom: .2vh solid white;
}

.contentCard>p{
    text-align: left;
    margin: 0;
    font-weight: 300;
    font-size: 2vh;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.buttonCard{
    padding: 2vh 1vh 0 1vh;
}

.buttonCard>a, .viewAllHome, .createHome, .showHistory>.start, .showHistory .list {
    display: flex;
    text-align: center;
    width: fit-content;
    margin: auto;
    font-size: 3vh;
    text-decoration: none;
    color: white;
    border: .3vh solid white;
    padding: 1vh 3vh;
}

.buttonCard>a:hover, .viewAllHome:hover, .createHome:hover, .showHistory>.start:hover, .showHistory .list:hover{
    background-color: white;
    color: black;
}
.createStory>p{
    font-size: 1.25em;
    text-align: center;
    width: 90%;
    margin: 0 auto 5vh auto;
}

.viewAllHome, .createHome{
    margin-bottom: 10vh;
}

.loader{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
}

.loader>div{
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader>div>img{
    animation: loader 5s infinite ease-in-out;
}

@keyframes loader {
    0%{
        rotate: 0deg;
    }
    60%{
        rotate: 370deg;
    }
    80%{
        rotate: 350deg;
    }
    100%{
        rotate: 360deg;
    }
}

/* Login */

.log {
    padding: 0.20em 2em 2em 2em; /* haut; droite; bas; gauche */
    margin-top: 12rem;
    height: 100%;
}

form.login {
    max-width: fit-content;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.log h3 {
    font-family: 'Jomhuria', serif;
    color: white;
    text-align: center;
    font-size: 40pt;
    margin: 1rem;
}

.logimg {
    width: 100%;
    object-fit: cover;
}

.log input {
    appearance: none;
    background-color: #E2B356;
    border: none;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.3rem;
}

.log input[type="submit"] {
    cursor: pointer;
}

/* Tous les albums */

.filtre {
    margin: 2rem 0;
    position: relative;
}

.filtre select {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 20rem;
    padding: 1rem 4rem 1rem 1rem;
    color: #0E0E0E;
    background-color: #E2B356;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
}

.filtre select:focus {
    border-radius: 10px 0 0 0;
}

.filtre select option {
    border-radius: 0 0 10px 10px;
}

.filtre input[type="submit"] {
    appearance: none;
    border: none;
    font: inherit;
    background-color: #dea83a;
    padding: 1rem;
    cursor: pointer;
    color: #0E0E0E;
    border-radius: 0 10px 10px 0;
    position: absolute;
}

.topImg{
    height: 70vh;
    overflow: hidden;
    position: relative;
}

.topImg>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    height: 110%;
}

.topImg>div{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.topImg>div>h1{
    font-family: 'Jomhuria', serif;
    font-weight: inherit;
    font-size: 16vh;
    margin: 0;
    color: white;
    text-align: center;
}

.topImg>div>img{
    width: 80%;
    margin: auto;
    display: flex;
}

.topImg>div>img:last-child{
    rotate: 180deg;
}

.bgBlack{
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    color: white;
}

.quatre{
    font-family: 'Jomhuria', serif;
    background-color: #0E0E0E;
    height: 100vh;
    color: white;
    font-weight: inherit;
}
.quatre h1{
    font-weight: inherit;
}
.quatre h6{
    font-weight: inherit;
}
.quatre img{
    width: 80px;
}
.quatrecontainer{
    position: relative;
}
.arrow{
    position: absolute;
    left: 0;
    top: 0;
}
.erreur{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 6%;
    font-size: 1rem;
}
.imgerreur{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imgerreur img{
    width: 120px;
}/* SHOW HISTORY */

.showHistory>.desc>h2, .showHistory>.genre>h2{
    font-size: 5vh;
    text-align: center;
    font-family: Matura MT Script Capitals;
    font-weight: inherit;
}

.showHistory>.desc>p, .showHistory>.genre>p{
    font-size: 2vh;
    line-height: 3vh;
    text-align: center;
}

.showHistory>.desc>p:after{
    content: "";
    display: flex;
    width: 70%;
    height: .3vh;
    background-color: white;
    margin: 5vh auto;
}

.showHistory>.genre>p{
    color: var(--gold);
    font-size: 5vh;
}

.showHistory>.img>img{
    margin: 0 auto;
    display: flex;
    width: auto;
    max-height: 40vh;
}

.commentForm{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 5vh auto 0 auto;
}

.commentForm>textarea{
    width: 70vh;
    height: 5vh;
    margin-bottom: 2vh;
    padding: 2vh;
    border: none;
}

.commentForm>textarea:focus{
    outline: none;
}

.commentForm>input{
    border: none;
    padding: 1em;
    width: fit-content;
    display: flex;
    margin: auto;
    cursor: pointer;
    background-color: white;
}

.showHistory>.start{
    margin: 3vh auto;
}

.showHistory .list{
    font-size: 2vh;
}

.showHistory .stats{
    text-align: center;
    margin: 4vh;
}

.showHistory .stats>p>span{
    color: gold;
    font-weight: bold;
    font-size: 2.5vh;
}

.comments{
    margin-top: 3vh;
}

.comments>div{
    background-color: var(--gray);
    padding: 1vh 2vh;
    margin: 2vh 0;
    border-radius: 2vh;
    font-weight: 500;
}

.comments>div>p{
    margin: 1vh 0;
}

.comments>div>p:first-child{
    font-weight: 300;
}
